.container h4 {
    text-align: center;
    border-radius: 28px;
    background-color: #DBE9FF;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 6px;
}

.container {
    border-radius: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-shadow: 0px 0px 0;
    border-width: 1px;
    background-color: #EFF5FF;
}


#enableInstallerBtnCheckbox{
  padding-left:  10px;
  transform: scale(1.5); /* Scales the checkbox by 2 */
}

#enableInstallerBtnCheckbox:hover{
  transform: scale(1.8); /* Scales the checkbox by 2 */
}