:root {
  --h2-font-size: 36px;
  --h4-font-size: 26px;
  --h5-font-size: 20px;
  --p-font: 18px;
  --button-font-size: 16px;
  --table-font-size: 16px;
}


.activation {
  width: 90%;
  margin: -10px auto 40px auto;
  padding: 15px;
}

.activation h2 {
  font-size: var(--h2-font-size);
  padding: 15px;
  margin: 0 auto 30px auto;
  background: none;
  text-align: center;
  align-content: center;
  border-bottom: 13px double #12ff0a;
  border-radius: 1% 1% / 60% 60%;
}

.activation .compare_table {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.activation .compare_table table {
  max-width: 90%;
  border-collapse: collapse;
  padding: 10px;
  margin: 0 auto;
}

.activation .compare_table img {
  max-width: 650px;
  transition: 1s;
}

.activation .compare_table th {
  font-size: var(--p-font);
  padding: 16px;
  text-align: center;
  background-color: #f2f2f2;
}

.activation .compare_table th:nth-child(1){
  border-bottom: 4px solid rgb(68, 172, 255);
}


.activation .compare_table th:nth-child(2){
  border-bottom: 4px solid rgb(255, 68, 68);
}

.activation .compare_table th:nth-child(3){
  border-bottom: 4px solid #00FF00;
}

.activation .compare_table td {
  background-color: #ffffff;
  font-size: var(--table-font-size);
  padding: 15px;
}

.activation .compare_table td:nth-child(1){
  border-bottom: 2px solid rgb(68, 172, 255);
}


.activation .compare_table td:nth-child(2) {
  border-bottom: 2px solid rgb(255, 68, 68);
}

.activation .compare_table td:nth-child(3) {
  border-bottom: 2px solid #00FF00;
}



.activation .subscriptions {
  margin: 20px auto;
}


.activation .subscriptions table {
  border-collapse: collapse;
  padding-top: 20px;
  margin: 0 auto;
}

.activation .subscriptions th,
.activation .subscriptions td {
  font-size: var(--table-font-size);
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.activation .subscriptions th {
  background-color: #f2f2f2;
}

.activation .subscriptions th:last-child {
  background-color: red;
  color: white;
  padding: 10px;
  border-color: rgb(8, 76, 107);
}



.activation .subs-instructions {
  margin: 30px auto;
  border: 2px solid #12ff0a;
  border-radius: 10px;
  padding: 20px;
}

.activation .subs-instructions p {
  color: #000000;
  font-size: var(--p-font);
  letter-spacing: 1px;
  line-height: 2;
  text-align: justify;
}

.activation .payment-method {
  display: flex;
  margin: 10px auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.activation .bkash img {
  display: block;
  margin: auto;
  padding-top: 0;
  max-width: 400px;
}

.activation .nagad img {
  display: block;
  margin: auto;
  padding: 30px;
  max-width: 400px;
}
.activation .skrill {
  border-radius: 10%;
}

.activation .whattodo {
  padding-top: 35px;
  padding-bottom: 15px;
  text-align: center;
  align-content: center;
}

.activation .whattodo h4 {
  font-size: var(--h4-font-size);
  padding: 15px;
  margin: auto;
  background: none;
  text-align: center;
  align-content: center;
  letter-spacing: 1px;
}


.activation .whattodo h5 {
  font-size: var(--h5-font-size);
  padding: 15px;
  margin: auto;
  background: none;
  text-align: center;
  align-content: center;
}


.activation .whattodo iframe {
  width: 540px;
  height: 315px;
  padding: 6px;
  transition: transform 0.3s;
  border-radius: 10px;
}

.activation .whattodo iframe:hover {
  transform: scale(1.04);
}


.activation .trialoffer {
  margin: auto;
  border: 2px solid #12ff0a;
  border-radius: 10px;
}



.activation .trialoffer p {
  color: #000000;
  font-size: var(--p-font);
  letter-spacing: 1px;
  line-height: 2;
  text-align: justify;
  padding: 15px;
}



.subscriptionplanprice {
  width: 100%;
  margin: 20px auto;
  padding: 30px 0;
  background: linear-gradient(#2bbcff 0%, #778af8 100%);
}

.subscriptionplanprice h2 {
  max-width: 90%;
  font-size: var(--h2-font-size);
  margin: 0 auto 30px auto;
  padding: 15px;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 13px double #ffffff;
  border-radius: 1% 1% / 60% 60%;
  color: white;
}

.subscriptionplanprice .pricelist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding: 40px 0;
}



.subscriptionplanprice .pricelist .wrapper {
  width: 560px;
  min-height: 80vh;
  border: 2px solid rgba(0, 255, 115, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}


.subscriptionplanprice .pricelist .wrapper .activation-title {
  height: 62px;
  display: flex;
  align-items: center;
  border: 1px solid #d7f5fa;
  border-radius: 10px;
  position: relative;
  padding: 5px;
}



.subscriptionplanprice .pricelist .wrapper .activation-title label {
  height: 100%;
  z-index: 2;
  width: 100%;
  display: flex;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  padding: 5px;
  margin: 5px auto;
  text-align: center;
}



.subscriptionplanprice .pricelist .wrapper #tab-1:checked~.activation-title .tab-1,
.subscriptionplanprice .pricelist .wrapper #tab-2:checked~.activation-title .tab-2,
.subscriptionplanprice .pricelist .wrapper #tab-3:checked~.activation-title .tab-3,
.subscriptionplanprice .pricelist .wrapper #tab-4:checked~.activation-title .tab-4,
.subscriptionplanprice .pricelist .wrapper #tab-5:checked~.activation-title .tab-5,
.subscriptionplanprice .pricelist .wrapper #tab-6:checked~.activation-title .tab-6,
.subscriptionplanprice .pricelist .wrapper #tab-7:checked~.activation-title .tab-7 {
  color: #fff;
}


.subscriptionplanprice .pricelist .wrapper .activation-title .slider {
  position: absolute;
  height: 90%;
  border-radius: 10px;
  background: linear-gradient(145deg, #70eaff 0%, #003391 100%);
  transition: all 0.3s ease;
}


.subscriptionplanprice .pricelist .wrapper #tab-1:checked~.activation-title .slider {
  left: 2.5%;
  width: 50px;
  transform: translateX(12%);
}
.subscriptionplanprice .pricelist .wrapper #tab-2:checked~.activation-title .slider {
  left: 11.6%;
  width: 68px;
  transform: translateX(35%);
}


.subscriptionplanprice .pricelist .wrapper #tab-3:checked~.activation-title .slider {
  left: 25.6%;
  width: 56px;
  transform: translateX(53%);
}


.subscriptionplanprice .pricelist .wrapper #tab-4:checked~.activation-title .slider {
  left: 44.9%;
  width: 56px;
  transform: translateX(0%);
}

.subscriptionplanprice .pricelist .wrapper #tab-5:checked~.activation-title .slider {
  left: 59%;
  width: 56px;
  transform: translateX(0%);
}

.subscriptionplanprice .pricelist .wrapper #tab-6:checked~.activation-title .slider {
  left: 72%;
  width: 66px;
  transform: translateX(0%);
}

.subscriptionplanprice .pricelist .wrapper #tab-7:checked~.activation-title .slider {
  left: 86.9%;
  width: 55px;
  transform: translateX(0%);
}

.subscriptionplanprice .pricelist .wrapper input[type="radio"] {
  display: none;
}

.subscriptionplanprice .pricelist .wrapper .card-area {
  overflow: hidden;
  padding: 5px;
}

.subscriptionplanprice .pricelist .wrapper .card-area .cards {
  display: flex;
  width: 712%;
}

.subscriptionplanprice .pricelist .wrapper .cards .row {
  width: 14.30%;
}

.subscriptionplanprice .pricelist .wrapper .cards .row-1 {
  transition: all  0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}




.subscriptionplanprice .pricelist .wrapper #tab-1:checked~.card-area .cards .row-1 {
  margin-left: 0%;
}

.subscriptionplanprice .pricelist .wrapper #tab-2:checked~.card-area .cards .row-1 {
  margin-left: -14.32%;
}

.subscriptionplanprice .pricelist .wrapper #tab-3:checked~.card-area .cards .row-1 {
  margin-left: -28.60%;
}

.subscriptionplanprice .pricelist .wrapper #tab-4:checked~.card-area .cards .row-1 {
  margin-left: -42.93%;
}

.subscriptionplanprice .pricelist .wrapper #tab-5:checked~.card-area .cards .row-1 {
  margin-left: -57.23%;
}

.subscriptionplanprice .pricelist .wrapper #tab-6:checked~.card-area .cards .row-1 {
  margin-left: -71.51%;
}

.subscriptionplanprice .pricelist .wrapper #tab-7:checked~.card-area .cards .row-1 {
  margin-left: -85.82%;
}


.subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details {
  margin: 15px 0;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}


.subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details .price {
  font-size: 65px;
  font-weight: 600;
  position: relative;
}

.subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details .price::before,
.subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details .price::after {
  position: absolute;
  font-weight: 400;
}

.subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details .price::before {
  content: "৳";
  left: -17px;
  top: 17px;
  font-size: 20px;
}

.subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details .price::after {
  content: "BDT";
  right: -28px;
  bottom: 17px;
  font-size: 13px;
}

.subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details p {
  font-size: 18px;
  margin-top: 5px;
}


.subscriptionplanprice .pricelist .wrapper .card-area .cards .row .pricefeatures li {
  display: flex;
  font-size: 15px;
  list-style: none;
  margin-bottom: 8px;
  align-items: center;
}

.subscriptionplanprice .pricelist .wrapper .card-area .cards .row .pricefeatures li .fa-circle-check {
  background: linear-gradient(#27ff1f 0%, #00ff00 100%);
  font-size: 18px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subscriptionplanprice .pricelist .wrapper .card-area .cards .row .pricefeatures li .fa-circle-xmark {
  background: linear-gradient(#ff1f1f 0%, #ff0000 100%);
  font-size: 18px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subscriptionplanprice .pricelist .wrapper .card-area .cards .row .pricefeatures li span {
  margin-left: 8px;
}


.subscriptionplanprice .pricelist .wrapper .pricebtn {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  outline: none;
  border: 2px solid rgb(135, 250, 250);
  background: linear-gradient(145deg, #50e5ff 0%, #13c8ff 100%);
  color: white;
  cursor: pointer;
  border-radius: 2% 2% / 50% 50%;
  position: relative;
  margin: 10px auto;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  transition: transform 0.3s ease;
  font-size: 18px;
}

.subscriptionplanprice .pricelist .wrapper .pricebtn::before,
.subscriptionplanprice .pricelist .wrapper .pricebtn::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(145deg, #1cceee 0%, #005aa3 100%);
  border-radius: 2% 2% / 50% 50%;
  transition: 0.5s;
  z-index: -1;
}

.subscriptionplanprice .pricelist .wrapper .pricebtn:hover::after {
  width: 100%;
}

.subscriptionplanprice .pricelist .wrapper .pricebtn:hover{
  color: white;
  transform: scale(0.98);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=0, Color=#4DC9FF)";
  -moz-box-shadow: 0 0 11px 9px #4DC9FF;
  -webkit-box-shadow: 0 0 11px 9px #4DC9FF;
  box-shadow: 0 0 11px 9px #4DC9FF;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=135, Color=#4DC9FF); 
}



/* For Mobile Responsive */
@media screen and (max-width: 1220px) {
  :root {
    --h2-font-size: 32px;
    --h4-font-size: 25px;
    --h5-font-size: 20px;
    --p-font: 18px;
    --button-font-size: 16px;
    --table-font-size: 16px;
  }


}

@media screen and (min-width: 868px) and (max-width: 1020px) {
  :root {
    --h2-font-size: 32px;
    --h4-font-size: 23px;
    --h5-font-size: 20px;
    --p-font: 17px;
    --button-font-size: 15px;
    --table-font-size: 15px;
  }
  .subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details .price {
    font-size: 60px;
  }

  iframe{
    width: 550px;
    height: 400px;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 868px) {
  :root {
    --h2-font-size: 30px;
    --h4-font-size: 23px;
    --h5-font-size: 19px;
    --p-font: 17px;
    --button-font-size: 14px;
    --table-font-size: 15px;
  }
  .subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details .price {
    font-size: 55px;
  }

  .activation .compare_table img {
    max-width: 580px;
    transition: 1s;
  }
  .payment-method{
    display: flex;
    flex-direction: column;
  }

  .activation .bkash img {
    padding-top: 0px;
    width: 580px;
  }

  .activation .nagad img {
    width: 580px;
    padding: 20px 0;
  }

  .activation .whattodo iframe {
    max-height: 420px;
    max-width: 560px;
  }

}

@media screen and (min-width: 668px) and (max-width: 768px) {
  :root {
    --h2-font-size: 28px;
    --h4-font-size: 21px;
    --h5-font-size: 18px;
    --p-font: 16px;
    --button-font-size: 13px;
    --table-font-size: 15px;
  }
  .subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details .price {
    font-size: 50px;
  }
  .subscriptionplanprice .pricelist .wrapper .activation-title label {
    margin: 0 auto;
    padding: 0;
  }
  .activation .compare_table img {
    max-width: 560px;
    transition: 1s;
  }

  .activation .bkash img {
    padding-top: 0px;
    width: 560px;
  }

  .activation .nagad img {
    width: 560px;
    padding: 20px 0;
  }

  .activation .whattodo iframe {
    max-height: 420px;
    max-width: 560px;
  }
}


@media screen and (min-width: 568px) and (max-width: 668px) {
  :root {
    --h2-font-size: 26px;
    --h4-font-size: 21px;
    --h5-font-size: 17px;
    --p-font: 16px;
    --button-font-size: 13px;
    --table-font-size: 14px;
  }
  .subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details .price {
    font-size: 45px;
  }
  .subscriptionplanprice .pricelist .wrapper .activation-title label {
    margin: 0 auto;
    padding: 0;
  }
  .activation .compare_table img {
    max-width: 470px;
    transition: 1s;
  }
  
  .activation .bkash img {
    padding-top: 0px;
    width: 380px;
  }

  .activation .nagad img {
    width: 380px;
    padding: 20px 0;
  }

  .activation .whattodo iframe {
    max-height: 320px;
    max-width: 425px;
  }
}


@media screen and (min-width: 468px) and (max-width: 568px) {
  :root {
    --h2-font-size: 24px;
    --h4-font-size: 19px;
    --h5-font-size: 16px;
    --p-font: 16px;
    --button-font-size: 11px;
    --table-font-size: 14px;
  }

  .subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details .price {
    font-size: 40px;
  }
  .subscriptionplanprice .pricelist .wrapper .activation-title label {
    margin: 0 auto;
    padding: 0;
  }
  .activation .compare_table img {
    max-width: 385px;
    transition: 1s;
  }

  .activation .bkash img {
    padding-top: 0px;
    width: 360px;
  }

  .activation .nagad img {
    width: 360px;
    padding: 20px 0;
  }

  .activation .whattodo iframe {
    max-height: 320px;
    max-width: 365px;
  }
}


@media screen and (min-width: 368px) and (max-width: 468px) {
  :root {
    --h2-font-size: 22px;
    --h4-font-size: 19px;
    --h5-font-size: 15px;
    --p-font: 15px;
    --button-font-size: 11px;
    --table-font-size: 14px;
  }


  .subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details .price {
    font-size: 35px;
  }
  .subscriptionplanprice .pricelist .wrapper .activation-title label {
    margin: 0 auto;
    padding: 0;
  }
  .activation .compare_table img {
    max-width: 325px;
    transition: 1s;
  }

  .activation .bkash img {
    padding-top: 0px;
    width: 320px;
  }

  .activation .nagad img {
    width: 320px;
    padding: 20px 0;
  }


  .activation .whattodo iframe {
    max-height: 300px;
    max-width: 320px;
  }


}

@media screen and (max-width: 368px) {
  :root {
    --h2-font-size: 20px;
    --h4-font-size: 15px;
    --h5-font-size: 14px;
    --p-font: 13px;
    --button-font-size: 11px;
    --table-font-size: 10px;
  }
  .activation .compare_table img {
    max-width: 280px;
  }

  .activation .bkash img {
    padding-top: 0px;
    width: 260px;
  }

  .activation .nagad img {
    width: 260px;
    padding: 15px 0;
  }


  .activation .whattodo iframe {
    max-height: 260px;
    max-width: 280px;
  }

}


@media (max-width: 768px) {
 

  .activation .compare_table table {
    margin: 0 auto;
    padding: 0 ;
  }

  .activation .compare_table th {
    padding: 0;
  }
  
  .activation .compare_table th:nth-child(1){
    border-bottom: 2px solid rgb(68, 172, 255);
  }
  
  .activation .compare_table th:nth-child(2){
    border-bottom: 2px solid rgb(255, 68, 68);
  }
  
  .activation .compare_table th:nth-child(3){
    border-bottom: 2px solid #00FF00;
  }

  .activation .compare_table td {
    background-color: #ffffff;
    padding: 8px 0;
    border-left: none;
    border-right: none;
  }
  .activation .compare_table td:nth-child(1){
    border-bottom: 1px solid rgb(68, 172, 255);
  }
  
  .activation .compare_table td:nth-child(2){
    border-bottom: 1px solid rgb(255, 68, 68);
  }
  
  .activation .compare_table td:nth-child(3){
    border-bottom: 1px solid #00FF00;
  }


  .activation .subscriptions table {
    margin: 0 auto;
  }

  .activation .subscriptions th,
  .activation .subscriptions td {
    padding: 5px 0;
    text-align: center;
    border: 1px solid #ddd;
    word-wrap: break-word;
    letter-spacing: -1px;
  }
  .payment-method{
    display: flex;
    flex-direction: column;
  }
  .bkash img {
    padding-top: 0px;
    width: 300px;
  }

  .nagad img {
    width: 300px;
    padding: 20px 10px;
  }


  .whattodo iframe {
    max-height: 260px;
    max-width: 320px;
  }

  .trialoffer {
    margin: 10px auto;
  }


  .subscriptionplanprice .pricelist .wrapper {
    width: 322px;
    margin: 20px auto;
    padding: 5px;
  }

  .subscriptionplanprice .pricelist .wrapper .activation-title {
    height: 40px;
  }

  .subscriptionplanprice .pricelist .wrapper .activation-title label {
    font-size: 12px;
    font-weight: 900;
  }

  .row .pricefeatures li {
    font-size: 12px;
  }

  .subscriptionplanprice .pricelist .wrapper #tab-1:checked~.activation-title .slider {
    left: 2%;
    width: 35px;
    transform: translateX(5%);
  }

  .subscriptionplanprice .pricelist .wrapper #tab-2:checked~.activation-title .slider {
    left: 14.4%;
    width: 38px;
    transform: translateX(15%);
  }

  .subscriptionplanprice .pricelist .wrapper #tab-3:checked~.activation-title .slider {
    left: 30.3%;
    width: 37px;
    transform: translateX(0%);
  }

  .subscriptionplanprice .pricelist .wrapper #tab-4:checked~.activation-title .slider {
    left: 44.1%;
    width: 37px;
    transform: translateX(0%);
  }

  .subscriptionplanprice .pricelist .wrapper #tab-5:checked~.activation-title .slider {
    left: 57.6%;
    width: 38px;
    transform: translateX(0%);
  }

  .subscriptionplanprice .pricelist .wrapper #tab-6:checked~.activation-title .slider {
    left: 72.1%;
    width: 37px;
    transform: translateX(0%);
  }

  .subscriptionplanprice .pricelist .wrapper #tab-7:checked~.activation-title .slider {
    left: 85.8%;
    width: 37px;
    transform: translateX(0%);
  }

  .subscriptionplanprice .pricelist .wrapper .card-area .cards .row .price-details p {
    font-size: 14px;
    margin-top: 5px;
  }

  .subscriptionplanprice .pricelist .wrapper .card-area .cards {
    width: 713%;
  }
  .subscriptionplanprice .pricelist .wrapper .cards .row {
    width: 14.28%;
  }
  .subscriptionplanprice .pricelist .wrapper .card-area .cards .row .pricefeatures li {
    font-size: 14px;
  }
  .subscriptionplanprice .pricelist .wrapper .card-area .cards .row .pricefeatures li .fa-circle-check {
    font-size: 15px;
  }
  .subscriptionplanprice .pricelist .wrapper .card-area .cards .row .pricefeatures li .fa-circle-xmark {
    font-size: 15px;
  }
}


.konthoedition {
  width: 100%;
  margin: -30px auto 0 auto;
  padding: 50px 0;
  background: linear-gradient(#2b8eff 0%, #05c4ba 100%);
}

.konthoedition h2 {
  max-width: 90%;
  font-size: var(--h2-font-size);
  margin: 20px auto 30px auto;
  padding: 15px;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 13px double #ffffff;
  border-radius: 1% 1% / 60% 60%;
  color: white;
}


.konthoedition .edition .fa-circle-check {
  background: linear-gradient(#27ff1f 0%, #00ff00 100%);
  font-size: var(--p-font);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.konthoedition .edition .fa-circle-xmark {
  background: linear-gradient(#ff1f1f 0%, #ff0000 100%);
  font-size: var(--p-font);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.konthoedition .edition {
  max-width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
  text-align: left;
}
@media screen and (max-width: 1600px) {
  .konthoedition .edition {
    flex-direction: column;
  }
}
.konthoedition .edition h4 {
  font-size: var(--h4-font-size);
  text-align: center;
  padding: 10px 0;
  color: white;
  border-bottom: .5px solid white;
  margin-bottom: 15px;
}
.konthoedition .edition h4:hover{
  text-shadow: 0 0 34px #00E5FF;
}

.konthoedition .edition .communityedition {
  padding: 15px;  
  align-items: center;
  margin: 20px auto;
  background: rgba(249, 77, 255, 0.19);
  border-radius: 16px;
  backdrop-filter: blur(9.9px);
  -webkit-backdrop-filter: blur(9.9px);
  border: 2px solid rgba(43, 255, 0, 0.815);
  box-shadow: 0 4px 30px rgba(82, 255, 160, 0.1);
}
.konthoedition .edition .communityedition ul li {
  padding: 6px 0;  
  list-style: none;
  list-style-position: inside;
  font-size: var(--p-font);
}
.konthoedition .edition .communityedition ul li:hover {
 transform: translateX(15px);
  text-shadow: 0 0 40px #ffffff;
}

.konthoedition .edition .communityedition ul li span {
  padding: 0 15px;
}

.konthoedition .edition .accessplusedition {
  padding: 15px; 
  align-items: center;
  margin: 20px auto;
  background: rgba(249, 77, 255, 0.19);
  border-radius: 16px;
  backdrop-filter: blur(9.9px);
  -webkit-backdrop-filter: blur(9.9px);
  border: 2px solid rgba(43, 255, 0, 0.815);
  box-shadow: 0 4px 30px rgba(82, 255, 160, 0.1);
}

.konthoedition .edition .accessplusedition ul li {
  padding: 6px 0;  
  list-style: none;
  font-size: var(--p-font);
}
.konthoedition .edition .accessplusedition ul li:hover {
  transform: translateX(5px);
  text-shadow: 0 0 34px #536dff;
}

.konthoedition .edition .accessplusedition ul li span {
  padding: 0 15px;
}

