:root {
  --border-clr: #12ff0a;
  
  --h1-font-size: 40px;
  --h2-font-size: 32px;
  --h5-font-size: 22px;
  --p-font: 18px;
  --button-font-size: 16px;
}



.download {
  max-width: 90%;
  margin: auto;
  padding: 15px 0;
}

.download .kontho-logo {
  display: flex;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid var(--border-clr);
  background-color: #F0F0F0;
  background-size: cover;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=0, Color=#000000)";
  -moz-box-shadow: 0 0 11px 11px #63CBFF, 0 0 11px 11px #000000;
  -webkit-box-shadow: 0 0 11px 11px #63CBFF, 0 0 11px 11px #000000;
  box-shadow: 0 0 11px 11px #63CBFF, 0 0 11px 11px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=135, Color=#000000);
}

.download .kontho-logo img {
  height: 190px;
  width: 180px;
  margin: 15px 90px;
  border-radius: 10px;
  transition: transform 0.3s;
  align-items: center;
  justify-items: center;
  transition: 1s;
}

.download .kontho-logo img:hover {
  transform: scale(1.05);
}


.download .kontho-logo .softwaredescription {
  flex: 2;
  margin-left: 60px;
  padding: 10px 20px 10px 10px;
  border: 1px;
  border-color: var(--border-clr);
  transition: 1s;
}


.download .kontho-logo .softwaredescription .versiondetails {
  display: block;
  margin: auto;
}



.download .kontho-logo .softwaredescription .versiondetails h1 {
  font-size: var(--h1-font-size);
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
  letter-spacing: 1px;
}


.download .kontho-logo .softwaredescription .versiondetails h5 {
  font-size: var(--h5-font-size);
  text-align: left;
  letter-spacing: 1px;
}

.download .kontho-logo .softwaredescription .versiondetails p {
  color: #000000;
  font-size: var(--p-font);
  letter-spacing: 1px;
  line-height: 2;
}



/* Typing text animation */
.download .kontho-logo .softwaredescription .versiondetails #typing-text {
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  max-width: 207px;
  border-right: 2px solid rgb(0, 0, 0);
  animation: typing 4s steps(44, end) infinite, blink 0.5s infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  from { border-color: transparent; }
  to { border-color: rgb(0, 0, 0); }
}

.download .kontho-logo .softwaredescription .btn-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}



/* Dwnload button style start */
.download .kontho-logo .softwaredescription .btn-container .downloadbtn {
  cursor: pointer;
  padding: 10px;
  margin-top: 12px;
  margin-right: 15px;
  height: 60px;
  width: 170px;
  font-size: var(--button-font-size);
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #36e7f4;
  border-radius: 5% 5% / 50% 50%;
  text-decoration: none;
  transition: 1s;
  text-align: center;
  border-color: #36e7f4;
}

.download .kontho-logo .softwaredescription .btn-container .downloadbtn:hover {
  background: linear-gradient(45deg, #71fac5, #f5ce62, #37e403, #71fae8);
  background-size: 150%;
  color: #ffffff;
  box-shadow: 2px 2px 4px 8px rgba(0, 192, 74, 0.5);
}
/* Download button style end */

/* Style the checkbox size here */
.download .kontho-logo .softwaredescription .btn-container .checkbox {
  display: none;
  width: 25px;
  height: 25px;
  margin: 10px 15px;
  transform: translateY(12px);
  color: #12ff0a;
}


.download .kontho-logo .softwaredescription .btn-container .agreementtext {
  display: none;
  font-size: var(--p-font);
  color: rgb(23, 24, 23);
  margin: 10px auto;
  animation: shake 0.3s;
  text-align: justify;
  padding: 0 15px;
}

.download .kontho-logo .softwaredescription .btn-container .agreementtext.valid {
  color: green;
}

.download .kontho-logo .softwaredescription .btn-container .agreementtext.invalid {
  color: red;
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
/* agreement for installer*/




/* Button download now button style start */
.download .kontho-logo .softwaredescription .btn-container .downloadnowbtn {
  display: none;
  font-size: var(--button-font-size);
  font-weight: bold;
  padding: 15px 0;
  text-decoration: none;
  cursor: pointer;
  transition: 1s;
  width: 170px;
  margin: 10px auto;
  text-align: center;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5% 5% / 50% 50%;
  background: #1fff84;
}
.download .kontho-logo .softwaredescription .btn-container .downloadnowbtn:hover {
  background: linear-gradient(45deg, #71fac5, #00b2f8, #196302, #4154ff);
  background-size: 300%;
  color: #ffffff;
  box-shadow: 2px 2px 4px 8px rgba(15, 255, 27, 0.5);
}

.download .kontho-logo .softwaredescription .btn-container .downloadnowbtn.refer {
  animation: shake 0.3s;
}
/* Download now style end */


.download .installation {
  margin: auto;
  padding: 40px 0;
}


.download .installation h2 {
  font-size: var(--h2-font-size);
  padding: 15px;
  margin: 0 auto 30px auto;
  background: none;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 13px double var(--border-clr);;
  border-radius: 1% 1% / 60% 60%;
}

.download .installation .installationText {
  border: 2px solid var(--border-clr);
  border-radius: 10px;
  padding: 15px;
}

.download .installation p {
  color: #000000;
  font-size: var(--p-font);
  letter-spacing: 1px;
  line-height: 2;
  text-align: justify;
  padding: 8px 0;
}


.download .installationProcess {
  margin: auto;
  padding: 30px 0;
}

.download .installationProcess h2 {
  font-size: var(--h2-font-size);
  padding: 15px;
  margin: 0 auto 30px auto;
  background: none;
  text-align: center;
  align-content: center;
  letter-spacing: 1px;
  border-bottom: 13px double var(--border-clr);;
  border-radius: 1% 1% / 60% 60%;
}

.download .installationProcess .installationProcessText {
  border: 2px solid var(--border-clr);
  border-radius: 10px;
  padding: 15px;
}

.download .installationProcess .installationProcessText p {
  color: #000000;
  font-size: var(--p-font);
  letter-spacing: 1px;
  line-height: 2;
  text-align: justify;
  padding: 8px 0;
}


/* Download section all style should keep Below */








@media screen and (max-width: 1220px) {
  :root {
    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --h5-font-size: 22px;
    --p-font: 18px;
    --button-font-size: 16px;
  }


  
}

@media screen and (min-width: 768px) and (max-width: 968px) {
  :root {
    --h1-font-size: 35px;
    --h2-font-size: 30px;
    --h5-font-size: 22px;
    --p-font: 18px;
    --button-font-size: 15px;
  }
  .download .kontho-logo {
    padding: 15px;
    flex-direction: row;

  }
  .download .kontho-logo img {
    height: 165px;
    width: 155px;
    margin: 15px 80px;
    transition: 1s;
  }
   
  .download .kontho-logo .softwaredescription {
    padding: 0;
    margin: 0 0 0 20px;
    transition: 1s;
  }
  .download .kontho-logo .softwaredescription .versiondetails #typing-text {
    border-right: none;
  }

  .download .kontho-logo .softwaredescription .btn-container .downloadbtn {
    padding: 0;
    margin-top: 0;
    margin-right: 15px;
    height: 60px;
    width: 145px;
  }

  .download .kontho-logo .softwaredescription .btn-container .downloadnowbtn {
    padding: 16px 0;
    width: 140px;
    margin: 15px auto;
  }

}

@media screen and (min-width: 668px) and (max-width: 768px) {
  :root {
    --h1-font-size: 32px;
    --h2-font-size: 28px;
    --h5-font-size: 19px;
    --p-font: 18px;
    --button-font-size: 14px;
  }
  .download .kontho-logo {
    padding: 15px;
    flex-direction: column;
    transition: 1s;
  }
  .download .kontho-logo img {
    height: 165px;
    width: 155px;
    margin: 15px 60px;
  }
  .download .kontho-logo .softwaredescription {
    padding: 0;
    margin: auto;
    text-align: center;
    transition: 1s;
  }
  .download .kontho-logo .softwaredescription .versiondetails #typing-text {
    border-right: none;
  }
  .download .kontho-logo .softwaredescription .btn-container {
    flex-direction: row; 
    margin: 10px auto;
    transition: 1s;
  }
  .download .kontho-logo .softwaredescription .versiondetails {
    display: inline-block;
    margin: auto;
    text-align: center;
  }

  .download .kontho-logo .softwaredescription .btn-container .checkbox {
    width: 20px;
    height: 20px;
    margin: 8px;
    transform: translateY(12px);
  }

  .download .kontho-logo .softwaredescription .btn-container .downloadbtn {
    padding: 0;
    margin-top: 0;
    margin-right: 15px;
    height: 50px;
    width: 140px;
  }

  .download .kontho-logo .softwaredescription .btn-container .downloadnowbtn {
    padding: 13px 0;
    width: 140px;
    margin: 15px auto;
  }


}


@media screen and (min-width: 568px) and (max-width: 668px) {
  :root {
    --h1-font-size: 32px;
    --h2-font-size: 26px;
    --h5-font-size: 18px;
    --p-font: 17px;
    --button-font-size: 14px;
  }
  .download .kontho-logo {
    padding: 15px;
    flex-direction: column;
  }
  .download .kontho-logo img {
    height: 165px;
    width: 155px;
    margin: 15px 60px;
  }
  .download .kontho-logo .softwaredescription {
    padding: 0;
    margin: auto;
    text-align: center;
  }
  .download .kontho-logo .softwaredescription .versiondetails #typing-text {
    border-right: none;
  }
  .download .kontho-logo .softwaredescription .versiondetails {
    display: inline-block;
    margin: auto;
    text-align: center;
  }
  .download .kontho-logo .softwaredescription .btn-container .checkbox {
    width: 20px;
    height: 20px;
    margin: 8px;
    transform: translateY(12px);
  }

  .download .kontho-logo .softwaredescription .btn-container {
    flex-direction: row; 
    margin: 10px auto;
    text-align: center;
  }

  .download .kontho-logo .softwaredescription .btn-container .downloadbtn {
    padding: 0;
    margin-top: 0;
    margin-right: 15px;
    height: 50px;
    width: 140px;
  }

  .download .kontho-logo .softwaredescription .btn-container .downloadnowbtn {
    padding: 13px 0;
    width: 140px;
    margin: 15px auto;
  }

}


@media screen and (min-width: 468px) and (max-width: 568px) {
  :root {
    --h1-font-size: 29px;
    --h2-font-size: 24px;
    --h5-font-size: 17px;
    --p-font: 16px;
    --button-font-size: 12px;
  }
  .download .kontho-logo {
    padding: 15px;
    flex-direction: column;
  }
  .download .kontho-logo img {
    height: 165px;
    width: 155px;
    margin: 15px 60px;
  }
  .download .kontho-logo .softwaredescription {
    padding: 0;
    margin: auto;
    text-align: center;
  }
  .download .kontho-logo .softwaredescription .versiondetails #typing-text {
    border-right: none;
  }
  .download .kontho-logo .softwaredescription .versiondetails {
    display: inline-block;
    margin: auto;
    text-align: center;
  }

  .download .kontho-logo .softwaredescription .btn-container .checkbox {
    width: 20px;
    height: 20px;
    margin: 8px;
    transform: translateY(12px);
  }

  .download .kontho-logo .softwaredescription .btn-container {
    flex-direction: row; 
    margin: 10px auto;
    text-align: center;
  }

  .download .kontho-logo .softwaredescription .btn-container .downloadbtn {
    padding: 0;
    margin-top: 0;
    margin-right: 15px;
    height: 50px;
    width: 120px;
  }

  .download .kontho-logo .softwaredescription .btn-container .downloadnowbtn {
    padding: 13px 0;
    width: 120px;
    margin: 15px auto;
  }
}


@media screen and (min-width: 368px) and (max-width: 468px) {
  :root {
    --h1-font-size: 26px;
    --h2-font-size: 22px;
    --h5-font-size: 15px;
    --p-font: 14px;
    --button-font-size: 12px;
  }
  .download .kontho-logo {
    padding: 15px;
    flex-direction: column;
  }
  .download .kontho-logo img {
    height: 155px;
    width: 145px;
    margin: 15px 60px;
  }
  .download .kontho-logo .softwaredescription {
    padding: 0;
    margin: auto;
    text-align: center;
  }
  .download .kontho-logo .softwaredescription .versiondetails #typing-text {
    border-right: none;
  }
  .download .kontho-logo .softwaredescription .versiondetails {
    display: inline-block;
    margin: auto;
    text-align: center;
  }

  .download .kontho-logo .softwaredescription .btn-container .checkbox {
    width: 20px;
    height: 20px;
    margin: 8px;
    transform: translateY(12px);
  }
  .download .kontho-logo .softwaredescription .btn-container {
    flex-direction: row; 
    margin: 10px auto;
    text-align: center;
  }

  .download .kontho-logo .softwaredescription .btn-container .downloadbtn {
    padding: 0;
    margin-top: 0;
    margin-right: 15px;
    height: 50px;
    width: 110px;
  }

  .download .kontho-logo .softwaredescription .btn-container .downloadnowbtn {
    padding: 13px 0;
    width: 110px;
    margin: 15px auto;
  }
}


@media screen and (max-width: 368px) {
  :root {
    --h1-font-size: 25px;
    --h2-font-size: 20px;
    --h5-font-size: 14px;
    --p-font: 13px;
    --button-font-size: 12px;
  }
  .download .kontho-logo {
    padding: 15px;
    flex-direction: column;
  }
  .download .kontho-logo img {
    height: 150px;
    width: 140px;
    margin: 15px 60px;
  }
  .download .kontho-logo .softwaredescription {
    padding: 0;
    margin: auto;
    text-align: center;
  }
  .download .kontho-logo .softwaredescription .versiondetails #typing-text {
    border-right: none;
  }
  .download .kontho-logo .softwaredescription .versiondetails {
    display: inline-block;
    margin: auto;
    text-align: center;
  }

  .download .kontho-logo .softwaredescription .btn-container .checkbox {
    width: 20px;
    height: 20px;
    margin: 8px;
    transform: translateY(12px);
  }

  .download .kontho-logo .softwaredescription .btn-container {
    flex-direction: column; 
    margin: 10px auto;
    text-align: center;
  }

  .download .kontho-logo .softwaredescription .btn-container .downloadbtn {
    padding: 0;
    margin-top: 15px;
    margin-right: 0;
    height: 50px;
    width: 120px;
  }

  .download .kontho-logo .softwaredescription .btn-container .downloadnowbtn {
    padding: 13px 0;
    width: 120px;
    margin: 15px auto;
  }
}