
:root {
  --text-clr-white: #fff;
  --text-clr-black: rgb(0, 0, 0);
  --bg-clr: #1b1f24;
  --second-bg-clr: #22282f;
  --main-clr: #00aeff;
  --other-clr: #c3cad5;
  --border-clr: #12ff0a;
  --border-clr2: #ffffff;

  --h1-font-size: 40px;
  --h2-font-size: 32px;
  --h4-font-size: 25px;
  --h5-font-size: 20px;
  --p-font: 18px;
  --button-font-size: 16px;
}

/* Kontho See more, learn more etc button */

.konthobtn1 {
  display: inline-block;
  text-decoration: none;
  color: var(--text-clr-black);
  border: 2px solid rgb(135, 250, 250);
  border-radius: 4% 4% / 40% 40%;
  padding: 4px;
  font-size: var(--button-font-size);
  background: rgb(197, 199, 199);
  position: relative;
  cursor: pointer;
  margin: 20px auto;
}

.konthobtn1:hover {
  transition: 1s;
  border: 2px solid var(--border-clr);
  background: #01795f;
  color: var(--text-clr-white);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=35, Direction=0, Color=#36D8F4)";
  -moz-box-shadow: 0 2px 35px 15px rgba(54,216,244,0.8);
  -webkit-box-shadow: 0 2px 35px 15px rgba(54,216,244,0.8);
  box-shadow: 0 2px 35px 15px rgba(54,216,244,0.8);
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=35, Direction=135, Color=#36D8F4); 
}
/* Kontho See more, learn more etc button */

/* Home section all style should keep Below */


/*install =========================================*/

.install {
  max-width: 100%;
  padding: 10px;
  margin: 30px auto;
  position: relative;
}


.install::before{
  content: "";
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  margin: auto;
}

.install h2 {
  font-size: 32px;
  margin-bottom: 20px;
  background: rgb(133, 216, 255);
  padding: 5px;
  border-radius: 50px;
  text-align: center;
  align-content: center;
}

.install .dev-message {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  opacity: 1;
  text-align: justify;
}


.message .install p {
  color: var(--text-clr-black);
  font-size: var(--p-font);
  padding: 10px;
  border: none;
  letter-spacing: 1px;
  line-height: 2;
}

.message .dev-message h5 {
  color: #048596;
  font-size: var(--h5-font-size);
  letter-spacing: 1px;
  padding-left: 15px;
}

/*install =========================================*/



.features {
  max-width: 90%;
  margin: 30px auto;
  padding: 15px;
  text-align: left;
}

.features h2 {
  /*font-size: var(--h2-font-size);
  padding: 15px;
  margin: 0 auto 30px auto;
  background: none;
  text-align: center;
  align-content: center;
  letter-spacing: 1px;
  border-bottom: 13px double var(--border-clr);
  border-radius: 1% 1% / 60% 60%;*/

  font-size: 32px;
  margin-bottom: 20px;
  background: rgb(133, 216, 255);
  padding: 5px;
  border-radius: 50px;
  text-align: center;
  align-content: center;
}



.features .feature_details {
  border: 2px solid var(--border-clr);
  border-radius: 10px;
  padding: 15px;
  line-height: 2;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.features .feature_details ul{
  padding-left: 30px;
}

.features .feature_details ul li  {
  color: var(--text-clr-black);
  font-size: var(--p-font);
  border-radius: 10px;
  margin: 0 auto 2px auto;
  padding: 5px 15px;
  line-height: 2;
  text-align: left;
  list-style-type: "✅";
}

.faq {
  max-width: 100%;
  margin: auto;
  padding: 30px 15px;
  align-items: center;
  justify-content: center;
/*  background: linear-gradient(#57ffcd 0%, #a676ff 100%);*/
  border-radius: 10px;

}

.faq h2 {
  font-size: 32px;
  margin-bottom: 20px;
  background: rgb(133, 216, 255);
  padding: 5px;
  border-radius: 50px;
  text-align: center;
  align-content: center;
}


.faq .accordion {
  max-width: 90%;
  background: #FFF;
  padding: 30px;
  border-radius: 8px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=0, Color=#7088FF)";
  -moz-box-shadow: 0 0 11px 11px #57F9FF, 0 0 11px 11px #7088FF;
  -webkit-box-shadow: 0 0 11px 11px #57F9FF, 0 0 11px 11px #7088FF;
  box-shadow: 0 0 11px 11px #57F9FF, 0 0 11px 11px #7088FF;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=135, Color=#7088FF); 
}

/* Faq section color style should keep up */
.faq .accordion .accordion-content{
  margin: 10px auto;
  border-radius: 4px;
  background: #FFF7F0;
  border: 1px solid #FFD6B3;
  overflow: hidden;
}

.faq .accordion .accordion-content:nth-child(2){
  background-color: #F0FAFF;
  border-color: #CCEEFF;
}
.faq .accordion .accordion-content:nth-child(3){
  background-color: #FFF0F3;
  border-color: #FFCCD6;
}
.faq .accordion .accordion-content:nth-child(4){
  background-color: #F0F0FF;
  border-color: #CCCCFF;
}
.faq .accordion .accordion-content:nth-child(5){
  background-color: #f1e4ff;
  border-color: #b5faf0;
}
.faq .accordion .accordion-content:nth-child(6){
  background-color: #d5ecfb;
  border-color: #dfdffa;
}
.faq .accordion .accordion-content:nth-child(7){
  background-color: #e7faf8;
  border-color: #97d5ff;
}
.faq .accordion .accordion-content:nth-child(8){
  background-color: #f7fae9d3;
  border-color: rgb(194, 252, 137);
}

.faq .accordion .accordion-content:nth-child(9){
  background-color: #ffe9f7;
  border-color: rgb(141, 203, 245);
}

.faq .accordion .accordion-content:nth-child(10){
  background-color: #ecf1f9;
  border-color: rgb(140, 224, 247);
}
/* Faq section color style should keep up */

.faq .accordion .accordion-content.open{
  padding-bottom: 15px;
}

.faq .accordion .accordion-content .faqheader{
  display: flex;
  min-height: 50px;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
}
.faq .accordion .accordion-content.open .faqheader{
  min-height: 40px;
}
.faq .accordion .accordion-content .faqheader .title{
  font-size: var(--h5-font-size);
  font-weight: 500;
  color: #333;
}
.faq .accordion .accordion-content .faqheader i{
  font-size: var(--h5-font-size);
  color: #333;
}

.faq .accordion .accordion-content .description{
  height: 0;
  font-size: var(--p-font);
  color: #1d1d1d;
  font-weight: 400;
  padding: 0 15px;
  transition: all 0.2s linear;
  line-height: 2;
  border-top: 1px solid #575656 ;
  border-radius: 2% 2% / 15% 15%;
  margin-top: 4px;
  text-align: justify;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
 
  .features .feature_details ul li {
     padding: 3px 12px;
     text-align: justify;
  }

  .faq .accordion{
    width: 90%;
    margin: auto;
    padding: 15px;
    }
  .faq .accordion .accordion-content{
     margin: 10px auto;
  }
 


}

/* Home section all style should keep up */

/* About section all style should keep Below */

.about {
  max-width: 90%;
  margin: auto;
  padding: 15px;
  align-items: center;
  align-content: center;
}

.about h2 {
  font-size: var(--h2-font-size);
  padding: 15px;
  margin: 0 auto 30px auto;
  background: none;
  text-align: center;
  align-content: center;
  letter-spacing: 1px;
  border-bottom: 13px double var(--border-clr);;
  border-radius: 1% 1% / 60% 60%;
}

.about .about_details {
  border: 2px solid var(--border-clr);
  border-radius: 10px;
  padding: 15px;
}

.about .about_details p {
  color: var(--text-clr-black);
  font-size: var(--p-font);
  letter-spacing: 1px;
  line-height: 2;
  text-align: justify;
  padding: 10px 0;
}


.message {
  max-width: 100%;
  padding: 10px;
	margin: 30px auto;
  position: relative;
}


.message::before{
  content: "";
  background-image: url(../Assets/envelope.png);
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  margin: auto;
}

.message h2 {
  width: 90%;
  font-size: var(--h2-font-size);
  padding: 15px;
  margin: auto;
  background: none;
  text-align: center;
  align-content: center;
  letter-spacing: 1px;
  border-bottom: 13px double var(--border-clr);;
  border-radius: 1% 1% / 60% 60%;
}

.message .dev-message {
  max-width: 90%;
	margin: 0 auto;
  padding: 20px;
  opacity: 1;
  text-align: justify;
}


.message .dev-message p {
  color: var(--text-clr-black);
  font-size: var(--p-font);
  padding: 10px;
  border: none;
  letter-spacing: 1px;
  line-height: 2;
}

.message .dev-message h5 {
  color: #048596;
  font-size: var(--h5-font-size);
  letter-spacing: 1px;
  padding-left: 15px;
}


/* About section all style should keep up */




/* Tutorial section all style should keep Below */

.tutorial {
  width: 90%;
  margin: auto;
  padding: 15px;
  text-align: center;
  align-content: center;
}

.tutorial h2 {
  font-size: var(--h2-font-size);
  padding: 15px;
  margin: 0 auto 30px auto;
  background: none;
  text-align: center;
  align-content: center;
  letter-spacing: 1px;
  border-bottom: 13px double var(--border-clr);;
  border-radius: 1% 1% / 60% 60%;
}

.tutorial .tutorialtext p {
  color: var(--text-clr-black);
  font-size: var(--p-font);
  padding: 0 15px 15px 15px;
  letter-spacing: 1px;
  line-height: 2;
  text-align: justify;
}

/* Apply hover effect to tutorial section iframes */
.tutorial iframe {
  width: 540px;
  height: 315px;
  padding: 6px;
  transition: transform 0.3s; /* Add transition for smooth effect */
  border-radius: 10px;
}

.tutorial iframe:hover {
  transform: scale(1.04); /* Increase size on hover */
}


/* Tutorial section all style should keep up */








.policies {
  max-width: 90%;
  margin: 30px auto;
  padding: 15px;
}

.policies p{
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1;
  text-align: justify;
}

.policies h2{
  font-size: 30px;
  margin-bottom: 20px;
  background: rgb(133, 216, 255);
  padding: 5px;
  border-radius: 50px;
  text-align: center;
  align-content: center;
}

.policies h4{
  font-size: 22px;
  color: rgb(0, 0, 0);
  line-height: 2;
  font-weight: bold;
  padding-top: 20px;
  letter-spacing: 1;

}



.policies h5{
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 2;
  font-weight: bold;
  padding-top: 20px;
  letter-spacing: 1;
}

.policies .policies-list {
  padding-left: 25px;
  letter-spacing: 0.8px;  
  list-style: none;
  line-height: 2;
}




@media screen and (max-width: 1240px) {
  :root {
    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --h4-font-size: 25px;
    --h5-font-size: 20px;
    --p-font: 18px;
    --button-font-size: 16px;
  }
  .features .feature_details ul li {
    text-align: justify;
 }
  .tutorial iframe {
    width: 500px;
    height: 315px;
    padding: 6px;
  }
}

@media screen and (min-width: 868px) and (max-width: 1145px) {
  :root {
    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --h4-font-size: 25px;
    --h5-font-size: 20px;
    --p-font: 18px;
    --button-font-size: 15px;
  }
  .tutorial {
    flex-direction: column;
  }
  .tutorial iframe {
    width: 540px;
    height: 315px;
    padding: 6px;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 868px) {
  :root {
    --h1-font-size: 40px;
    --h2-font-size: 30px;
    --h4-font-size: 25px;
    --h5-font-size: 19px;
    --p-font: 17px;
    --button-font-size: 14px;
  }
  .tutorial {
    flex-direction: column;
  }
  .tutorial iframe {
    width: 540px;
    height: 315px;
    padding: 6px;
  }
  

}

@media screen and (min-width: 668px) and (max-width: 768px) {
  :root {
    --h1-font-size: 40px;
    --h2-font-size: 28px;
    --h4-font-size: 25px;
    --h5-font-size: 18px;
    --p-font: 16px;
    --button-font-size: 13px;
  }
  .tutorial {
    flex-direction: column;
  }

  .tutorial iframe {
    width: 460px;
    height: 380px;
    padding: 6px;
  }
}


@media screen and (min-width: 568px) and (max-width: 668px) {
  :root {
    --h1-font-size: 40px;
    --h2-font-size: 26px;
    --h4-font-size: 25px;
    --h5-font-size: 17px;
    --p-font: 15px;
    --button-font-size: 12px;
  }

  .tutorial {
    flex-direction: column;
  }

  .tutorial iframe {
    width: 400px;
    height: 320px;
    padding: 6px;
  }
  
}


@media screen and (min-width: 468px) and (max-width: 568px) {
  :root {
    --h1-font-size: 40px;
    --h2-font-size: 24px;
    --h4-font-size: 25px;
    --h5-font-size: 16px;
    --p-font: 14px;
    --button-font-size: 12px;
  }
  .tutorial {
    flex-direction: column;
  }

  .tutorial iframe {
    width: 360px;
    height: 250px;
    padding: 6px;
  }
}


@media screen and (min-width: 368px) and (max-width: 468px) {
  :root {
    --h1-font-size: 40px;
    --h2-font-size: 22px;
    --h4-font-size: 25px;
    --h5-font-size: 15px;
    --p-font: 13px;
    --button-font-size: 11px;
  }
  .tutorial {
    flex-direction: column;
  }

  .tutorial iframe {
    width: 320px;
    height: 250px;
    padding: 6px 0;
  }
  
}

@media screen and (max-width: 368px) {
  :root {
    --h1-font-size: 40px;
    --h2-font-size: 20px;
    --h4-font-size: 25px;
    --h5-font-size: 14px;
    --p-font: 13px;
    --button-font-size: 11px;
  }
  .tutorial {
    flex-direction: column;
  }

  .tutorial iframe {
    width: 200px;
    height: 200px;
    padding: 6px 0;
  }

}